
body { 
    color: rgb(255,255,255); background: rgb(250,250,250);
    font: 0.85em Arial, Verdana, sans-serif; 
    text-align: center; line-height: 1.5em;
    margin: 10px; 
}
a {
    color: red; background: inherit; text-decoration:none;
 }
a:hover {
    color: #000; background: inherit;
}
h2 {
    font-size: 1.4em;
}

img {
    border-style: none;
}

/*
otherwise in-text ul-bullets are outside margin
ul {
    margin: .6em 0; padding: 0;
}
*/
.clear {
    clear: both; margin: 0 0 .5em 0; 
}


#wrapper { 
    width: 100%;
argin: 0 auto; text-align: left; 
}

#logo {
    clear: both;
    text-align: center;
    color: #000;
	  background: inherit;
	  margin: 20px;
	  padding: 0;
}

#logo p {
    margin: -10px 25px 0 0;
    text-align:center;
    color: rgb(210,56,52);
    font-weight: bold;
}


#logo h1 {
    text-align:center;
color: #000;
background: inherit;
margin: 0px;
padding: 25px;
font-size: 2.4em;
}

#top {
	float: right;
	margin: 0 2em 0 0;
}

#top {
	float: right;

}

#menu {
    background: rgb(0,0,0);
    clear: both; margin: 1 2% 1em 1%;
    padding: 7px 0 7px 0px; border-bottom: 1px solid #DCDBD5; border-top: 1px solid #DCDBD5;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}
#menu li {
    display: inline; 
}
#menu a {
    padding: 3px 15px; margin: 0 3px 0 0; text-decoration: none; 
    color: rgb(223,1,26);
    background: inherit; 
}
#menu a.current { 
    color: #fff; background: #3D648A; 
}
#menu a:hover { 
    background: #fff; color: #444;
}

.bigimg {
	padding-top:1em;
	padding-bottom:1em;
	text-align: center;
}

.both_line01{
    display:-webkit-box;
    width:100%;
}

.webserver {
	  width: 27%;
	  margin: 20px 10px 20px 20px;
	  background: rgb(72,175,31);
	  color: #303030;
	  padding: 8px 2px 26px 20px;
}

.document {
	margin: 20px 10px 20px 20px;
	width: 61%;
	background: #fff;
	color: #303000;
	padding: 8px 2px 26px 20px;
}

.document p {
    line-height: 25px;
    margin: 10px 40px 10px 10px;
}

.both_line02{
    display:-webkit-box;
    width:100%;
}

.version {
    width: 27%;
    background: #fff;
    color: #303000;
    line-height: 1em;
	  margin: 0px 9px 5px 20px;
	  padding: 10px 0px 5px 20px;
}

.version p{
    padding: 0px 8px 0px 0px;
    line-height: 20px;
}

.cite {
	  width: 62%;
	  background: #fff;
	  color: #303000;
	  margin: 0px 10px 5px 20px;
	  padding: 10px 0px 5px 20px;
}

.cite p {
    margin: 0px 10px 20px 8px;
}

.cite h2 {
    margin: 0px;
}
