<!DOCTYPE html>
<html>
  <head>
    <title>Identificate Species Dividing Line</title>
    <meta charset="ISO-8859-1" />
    <meta name="description" content="homepage of the program for Identificate Species Dividing Line
                                      and build species tree" />
    <meta name="keywords" content="ISDL, isdl, identificate species dividing line,
                                   species tree" />
    <meta name="author" content="Rui Wang" />
    <meta http-equiv="refresh" content="2000" />
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/home_page.css' %}" media="screen" />

    <script type="text/javascript">
        <!--

             function last_modified() {
              var t = new Date(document.lastModified);
              document.write("Last modified on&nbsp;"+document.lastModified+"");
             }

             // Samhain Labs | email encoder:
             // http://la-samhna.de/library/encoder.html
             function emailaddress_clustalw() {
              var i; var j; var Foo = new Array();
              var gg = 95;
              var xo = 224;
              Foo[0]="7b209f273124257c612c20";
              Foo[1]="292c342f7a232c35333421";
              Foo[2]="2d38413624256f2a26637f";
              Foo[3]="252e373536232e39423725";
              Foo[4]="27712c287f722441";
              var Bar = ""; var k = ""; var c;
              for (i = 0; i < Foo.length; i++) {
               for (j = 0; j < Foo[i].length; j += 2) {
                k = Foo[i].slice(j,j+2);
                c = parseInt(k, 16);
                c = c^xo;
                c = c - gg;
                if (c < 0) c = c + 256;
                Bar += String.fromCharCode(c);
               }
               gg = gg + 1; if (gg > 255) gg = 0;
              }
              document.write(decodeURI(Bar));
            }
            //-->
    </script>
</head>

<body>
  <div id="wrapper">
    <div id="logo">
      {% load staticfiles %}
      <a href="">
        <img style="float:left;" id="toplogo" height="150" width="150"
        src="{% static 'image/icon_tree.png' %}"
        alt="ISDL logo" />
      <h1>I S D L</h1>
      <!--</div>
           <div class="clear"></div>
           <div >-->
      <p>
        Identificate Species Dividing Line of nucleic acid sequences
      </p>
    </div>


    <ul id="menu">
      <!--<li><a class="current" href="#" title="Home">Home</a></li>-->
      <li><a href="/home/">Home</a></li>
      <li><a href="#Webservers">Webservers</a></li>
      <!--<li><a href="#Download">Download</a></li>-->
      <li><a href="#Documentation">Documentation</a></li>
      <!--<li><a href="#Contact">Contact</a></li>-->
      <!--<li><a href="#News">News</a></li>-->
      <!--<li><a href="#Contact">Contact</a></li>-->
      <!--<li><a href="#Acknowledgements">Acknowledgements</a></li>-->
    </ul>


    <div class="clear"></div>
    <div class="third">
      <h1><a name="Webservers">Webservers</a></h1>
      <p>
        You don't necessarily have to go through the hassle to install ISDL on
        your computer. Instead, you can run ISDL online on servers on the web,
        input multisequence file and information at below:
      </p>

      <form action="save_post/" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <p>your name: {{ userinfo.user }} {{ errors.user }}</p>
        <p>your email: {{ userinfo.email }} {{ errors.email }}</p>
        <p>choose file: {{ userinfo.inputfile }} <span>{{ errors.inputfile }}</span></p>
        <strong><input type="submit" value="submit"></strong>
      </form>
    </div>

    <div class="twothird">
      <h1><a name="Documentation">Documentation</a></h1>
      <p>
        <a href="http://45.76.122.117:8000/document/manual.pdf">Click here </a>
        download the manual about the programs?we thanks a lot you view the website
        and choice the servers.
      </p>
    </div>


  </div>
  <!-- google analytics -->
  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
  </script>
  <script type="text/javascript">
    _uacct = "UA-3760204-1";
    urchinTracker();
  </script>
</body>
</html>